.homeBlack {
    padding: 6rem 0px;
    background: black;
    &_video {
        width: 100%;
        video {
            width: 100%;
        }
    }

    &_iph {
        img {
            width: 100%;
            transform: translateX(30%);
        }
        &_txt {
            transform: translateX(-10%);
        }
    }
    &_pods {
        padding-top: 4rem;
        width: 100%;
        .img {
            width: 80%;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
        &_txt {
            transform: translateX(-10%);
        }
    }
}

.lr {
    color: $fadegray;
    @include flex(space-between, start, 0rem);
    h3 {
        font-size: toRem(30);
        border-top: 1px solid #424245;
        padding-top: 2rem;
    }
    p {
        padding-top: 2rem;
        width: 60%;
        font-weight: 500;

        font-size: toRem(20);
        border-top: 1px solid #424245;
    }
}
