.heroWrap {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 500vh;
    position: relative;
    &_sticky {
        z-index: 20;
        transition: 1s ease-out;
        position: absolute;
        left: 0;
        right: 0;
        &_container {
            @include flex(space-between, center, center);
            h3 {
                color: white;
            }
            nav {
                padding: 1rem 0;
                ul {
                    @include flex(center, center, 2rem);
                    color: white;
                    li {
                        list-style: none;
                        font-size: toRem(13);
                    }
                    button {
                        background: $blue;
                        outline: none;
                        border: none;
                        color: white;
                        border-radius: 1rem;
                        font-size: toRem(12);
                        font-family: inherit;
                        padding: 0.4rem 1rem;
                    }
                }
            }
        }
    }
    canvas {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 100vw;
        max-height: 100vh;
        position: sticky;
    }
    &_txt {
        text-align: center;
        img {
            width: 10rem;
            margin: 0 auto;
        }
        position: absolute;
        left: 25%;
        top: 7%;
        @include flex_col(1rem);
        h1 {
            font-size: toRem(78);
            color: white;
        }
    }
}
.fixed {
    background: #1d1d1f;
    position: sticky;
    top: 0;
}
