.rept {
    height: 100vh;
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 120rem;
    background-color: $fadegray;
    background-position-x: 50%;
    background-attachment: fixed;
    background-position-y: bottom;
    background-image: url(https://www.apple.com/v/apple-watch-series-8/b/images/overview/fitness/fitness_options_hw__ej9wuo2vm9ea_large_2x.jpg);
    &_video {
        position: sticky;
        top: 28%;
        video {
            width: 13rem;
            left: 43%;
            top: 32%;
            position: absolute;
        }
    }
}
