.flex {
    display: flex;
}
span.word_wrap {
    overflow: hidden;
    display: inline-block;
}
[data-animation="header"] span.word {
    overflow-y: hidden;
}
.child_wrap {
    width: 70%;
    margin: 0 auto;
}
.abs {
    position: absolute;
}
.ta_center {
    text-align: center;
}
.mg_au {
    margin: 0 auto;
}
[data-animation="fadeInOut"] {
    transition: 500ms ease-in-out;
    opacity: 0;
    transform: translateY(200px);
}
[data-animation="fadeInOut"].show {
    transform: translateY(0);
    opacity: 1;
}
