* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: calc(100vw / 1440 * 16);
}
body {
    perspective: 1px;
}
p {
    line-height: 2rem;
}
section {
    width: 100%;
}
button {
    outline: none;
    font-family: inherit;
    font-size: 1rem;
    border: none;
}
